.eachItem {
	display: flex;
	justify-content: space-between;
}

.underline {
	display: block;
	width: 90%;
	margin: 20px auto;
	height: 3px;
	background-color: rgb(146, 141, 141);
	background-color: #444;
}
.scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 16rem;
}
.header {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.buttons {
	display: flex;
	justify-content: right;
	align-items: flex-end;
	position: relative;
	bottom: -5px;
	right: 5px;
}
.btn {
	padding: 1rem;
	margin-right: 0.2rem;
	border-radius: 5px;
	border: none;
	background-color: lightgray;
	transition: 0.4s;
}
.btn:hover {
	background-color: salmon;
}
.cartItems {
	margin: 1rem;
}
.cartItem {
	display: flex;
	flex-direction: column;
}
.title {
	color: salmon;
	font-weight: 600;
}
.btns {
	width: 100%;
	border: none;
	margin-right: 0.2rem;
	transition: 0.2s;
	color: salmon;
	font-size: 1.3rem;
	font-weight: bold;
}
.btns:hover {
	background-color: salmon;
	color: #f4f4f4;
}
.add_rem {
	display: flex;
	flex-direction: row;
}
.add {
	width: 2rem;
}
.remove {
	width: 2rem;
}
