.price {
	color: rgb(245, 159, 151);
	font-size: 1.2rem;
	font-weight: 400;
}
.label {
	margin-right: 0.5rem;
}
.input {
	width: 40px;
	text-align: center;
	border: none;
	outline: none;
	margin-right: 0.5rem;
}
.priceEle {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
