* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-size: 1.1rem;
}
.form {
	display: flex;
	flex-direction: column;
}
.button {
	width: 40%;
	align-self: flex-end;
	margin-top: 0.5rem;
	padding: 0.2rem 0.7rem;
	border: none;
	background-color: rgb(248, 236, 234);
	transition: 0.3s;
	border-radius: 8px;
}
.button:hover {
	background-color: rgb(199, 140, 129);
}

.li {
	padding-top: 3rem;
	display: flex;
	margin-bottom: 1rem;
	align-items: center;
	justify-content: space-between;
}
.ul {
	list-style: none;
	padding-top: 2rem;
}
.title {
	font-weight: 600;
	font-size: 1.3rem;
	color: salmon;
}
.title-disc {
	display: flex;
	flex-direction: column;
}
.disc {
	max-width: 70%;
}
.price {
	color: rgb(219, 136, 127);
	font-weight: 600;
	font-size: 1.3rem;
}
@media (max-width: 480px) {
	.li {
		display: block;
	}
} ;
