.footer {
	background-color: #444;
	padding: 2rem 1rem;
	color: #fff;
	margin-top: 2rem;
}

.someLinks {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: flex-end;
}
.ul {
	max-width: 50%;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.3rem;
	text-align: center;
}
.a {
	text-decoration: none;
	color: #fff;
	padding-right: 1rem;
}
@media (max-width: 460px) {
	.ul {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 1rem;
	}
} ;
