.cart {
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid #000;
	background-color: rgb(245, 151, 140);
}

.bump {
	animation: bump 300ms ease-in-out;
}

@keyframes bump {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(1.14);
	}
	50% {
		transform: scale(1.2);
	}
	75% {
		transform: scale(1.24);
	}
	100% {
		transform: scale(1);
	}
}
.fixed {
	position: fixed;
	right: 50px;
	top: 2px;
}
